*{
	margin:0;
	padding:0;
}


.axis {
    background-color : #000;
    color: #fff;
    padding: 5px;
}

#breakdown{
	background-color: #000;
	border: 2px !important;
	border-color: #fff !important;
	color : #fff !important;
}

#legendGroup{
	display:table; 
	margin:auto; 
	width:100%;
}

.legend {
	color : #FFF;
	display: table-cell; 
	padding:20px;
}

.basedata {

    padding: 5px;
    color: #fff;
    background-color:#000;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}


/*-------------------------
	The menu
--------------------------*/


nav{
	display:inline-block;
	margin:10px auto 5px;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
}

nav a{
	display:inline-block;
	padding: 18px 30px;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:first-child{
	border-radius:2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
}
	
p{
	
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#036;
	border-radius:2px;
	text-transform:uppercase;
	font-size:18px;
}

nav.Idea .Idea, nav.Method .Method, nav.Function .Function, nav.contact .contact {
background-color: #6699BB;
color:#fff;
}


h4, h5, .h5, .h4 {
color:#369;
}

nav > li {
position: relative;
display: inline-block;
}

.nav-pills > li {
float: none;
display:inline-block;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
background-color: #036;
}

.ui-tabs .ui-tabs-nav {
margin: 0;
padding: .2em .2em 0;
background: transparent;
border: 0px;
font-size: 12px;
}


#337ab7


.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
background-color: #337ab7;
}


.ui-widget {
font-size: 0.8em; 
}

/*-----------------------------------*\
  ANIMATION
\*-----------------------------------*/

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          
  box-sizing: border-box;
}

input, select, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  font: inherit;
}

/*-----------------------------------*\
  $OBJECTS
\*-----------------------------------*/

.butt, .input {
  padding: .75rem;
  margin: .375rem;

  background-color: transparent;
  border-radius: 4px;
}

  .butt:focus, .input:focus {
    outline: none;
  }

.butt {
  border: 2px solid #69B;
  line-height: 1.375;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  font-weight: 700;

  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
}

  .butt--primary {
    background-color: #f35626;
    color: #fff;
  }

.input {
  border: 1px solid #c0c8c9;
  border-radius: 4px;
}

  .input--dropdown {
    background-image: url("images/ddown.png");
    background-image: url("images/ddown.svg?3"), none;
    background-repeat: no-repeat;
    background-size: 1.5rem 1rem;
    background-position: right center;
  }

/*-----------------------------------*\
  $TYPOGRAPHY
\*-----------------------------------*/

h1, .alpha {
  margin-bottom: 1.5rem;

  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -.05em;
}

h2, .beta {
  margin-bottom: .75rem;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

@media (min-width: 650px) {
  .mega {
    font-size: 6rem;
    line-height: 1;
  }
}

.subhead, .meta {
  color: #7b8993;
}

.promo {
  text-align: center;
}

p, hr, form {
  margin-bottom: 1.5rem;
}

hr {
  border: none;
  margin-top: -1px;
  height: 1px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-animation: hue 60s infinite linear;
}

  a:hover {
    color: #369;
  }

/*-----------------------------------*\
  $LAYOUT
\*-----------------------------------*/

.wrap {
  max-width: 38rem;
  margin: 0 auto;
}

.island {
  /* padding: 1.5rem; */
}

.isle {
  padding: .75rem;
}

.spit {
  padding: .375rem;
}

/*-----------------------------------*\
  $BASE
\*-----------------------------------*/


/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site__header {
  -webkit-animation: bounceInUp 1s;
}

  .site__title {
    color: #336699;
    background-image: -webkit-linear-gradient(92deg,#003366,#6699BB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  }

.site__content {
  -webkit-animation: bounceInUp 1s;
  -webkit-animation-delay: .1s;
}

  .site__content form {
    -webkit-animation: bounceInUp 1s;
    -webkit-animation-delay: .1s;
  }

/*-------------------------
	General Styles
--------------------------*/


.class1 {
    background-color : green !important;

}

.class2 {
    background-color : #024 !important;

}

.class3 {
    background-color : #246 !important;

}
.class4 {
    background-color : #468 !important;

}
.class5 {
    background-color : #68A !important;

}
.class6 {
    background-color : #8AC !important;

}
.class7 {
    background-color : #ACE !important;

}

.class8 {
    background-color : #CEF !important;

}

.class9 {
    background-color : #FCE !important;

}

.class10 {
    background-color : #EAC !important;

}

.class11 {
    background-color : #C9A !important;

}
.class12 {
    background-color : #A79 !important;

}
.class13 {
    background-color : #957 !important;

}
.class14 {
    background-color : #735 !important;

}
.class15 {
    background-color : #513 !important;

}
.class16 {
    background-color : #301 !important;

}

.class17 {
    background-color : #100 !important;

}
.class18 {
    background-color : #200 !important;

}
.class19 {
    background-color : #300 !important;

}
.class20 {
    background-color : #400 !important;

}
.class21 {
    background-color : #500 !important;

}
.class22 {
    background-color : #600 !important;

}
.class23 {
    background-color : #700 !important;

}
.class24 {
    background-color : #800 !important;

}
.class25 {
    background-color : #900 !important;

}
.class26 {
    background-color : #A00 !important;

}
.class27 {
    background-color : #b00 !important;

}
.class28 {
    background-color : #c00 !important;

}
.class29 {
    background-color : #d00 !important;

}
.class30 {
    background-color : #e00 !important;

}
.class31 {
    background-color : #f00 !important;

}


