<!DOCTYPE html>
<html>
	<!-- JP Vermeer - Angular.JS Demo of Gibonacci & Gucas Numbers -->
	<!-- Towards a demonstration of recursice optimization through the use of JS arrays and set notation -->
  <head>
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
   	<link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body ng-app="gibonacci"> 
    <div ng-controller="gibonacciController as gib">
 	  <div id="site">
		<form>
			<h1>Generalized Fibonacci Sequences and Lucas Numbers</h1>
			The General form of Fibonacci sequences takes the form of a series of sequence of numbers.<br>
			Each number is given by f(p, n), where p is the number of previous terms added together to the nth number in a sequence.<br>
			<b>For instance, the fibonacci sequence would be expressed as f(2, n)</b><br>
			For this example of recursion in Javascript/Angular3:<br>
			<div style="display:table; margin:auto">
				<div style="display:table-cell; margin:auto">The number of previous terms summed together for the nth term of the sequence
				<p>p : <input type="number" ng-model="userP" ng-value="'0'"></div>
				<div style="display:table-cell">The Number of terms generated in the sequence:
				<p>n : <input type="number" ng-model="userN" ng-value="'0'"></p></div>
				<div style="display:table-cell">The First number in the sequence:
				<p>A : <input type="number" ng-model="userA"></p></div>
				<div style="display:table-cell">The Second number in the sequence:
				<p>B : <input type="number" ng-model="userB"></p></div>
			</div>
			<div id="legendGroup">
				<div class="class1 legend">Terms Equal 2^n-1</div>
				<div ng-repeat="k in gib.getRange(2, ((userN / 2) + 1)  || 1)" class="class{{k}} legend"> - Chebyshev(n-(<span ng-bind="k"></span>p+<span ng-bind="2*k-1"></span>), <span ng-bind="k"></span>)</div>
			</div>
			<div id="chart">	
				<div style="display:table-cell">
					<div class="axis">f(p,n)</div>  					
					<div class="axis" data-ng-repeat="k in gib.getRange(1,userN || 1)">
  						<span ng-bind="k"></span>
  					</div>
  				</div>
				<div data-ng-repeat="j in gib.getRange(1, userP || 1)" style="display:table-cell;">
  					<div class="axis">{{j}}</div>
					<div ng-mouseover="gib.showCell(j, i)" class="chart basedata class{{gib.getOrder(j, i)}}" data-ng-repeat="i in gib.getRange(1,userN || 1)">
  						<span ng-bind="gib.smartGib(j, i, userA || 1, userB || 1)"></span>		
					</div>
				<p>
			</div>
			
			<div id="breakdown" style="border-color:#fff; border-style: solid;border-width: 5px;position:absolute; z-index:100; width: 300px;">
				<b>f(<span ng-bind="gib.activeP"></span>, <span ng-bind="gib.activeN"></span>)</b>
				<br>
				<span ng-bind="gib.functionString"></span>
				<br>
				<span ng-bind="gib.valueString"></span>
			</div>			
		</form>
 	  </div>
    </div>
  </body>
</html>